@media (min-width: 767px) and (max-width: 992px) {
  div.container {
    width: 60%;
    height: 90vh;
    margin: 0 auto;
    border-radius: 0px 0px 25px 25px;
    position: relative;
  }

  /* start header */

  div.container > div.header {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  div.container > div.header > div.logo {
    width: 100px;
    height: 70px;
    background-image: url(../media/sitelogo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    scale: 1.3;
    margin-top: 10px;
  }
  div.container > div.header > div.menu {
    width: 70%;
    height: 80px;
    display: flex;
    flex-direction: column;
  }
  div.container > div.header > div.menu > div.fa {
    width: 30px;
    height: 60px;
    position: absolute;
    right: 90%;
  }
  div.container > div.header > div.menu > div.fa > span {
    width: 100%;
    height: inherit;
    font-size: 22px;
    line-height: 80px;
    transition: all 200ms linear;
  }
  div.container > div.header > div.menu > div.fa > span:hover {
    transform: scale(1.3);
  }

  div.container > div.header > div.menu > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    z-index: 997;
    background-color: #272727fc;
    display: none;
    border-radius: 25px 0 15px 0;
    box-shadow: 3px 3px 10px black;
  }

  div.container > div.header > div.menu:hover ul {
    display: block;
  }

  div.container > div.header > div.menu > ul > li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div.container > div.header > div.menu > ul > li > a {
    text-decoration: none;
    width: 60px;
    color: #c7c7c7;
    margin: 10px 0px;
    font-size: 16px;
    transition: all 100ms;
    display: flex !important;
    justify-content: center !important;
  }
  div.container > div.header > div.menu > ul > li > a:hover {
    border-bottom: 2px solid #8b8b8b;
    color: white;
  }
  /* end header */

  /* start content */

  div.container > div.content {
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    background-color: #272727;
    overflow: hidden;
  }
  div.container > div.content > div.header {
    width: 100%;
    height: 80px;
    background-color: #424242;
    text-align: center;
    margin: 0;
  }
  div.container > div.content > div.header > h2 {
    font-size: 38px;
    font-weight: 400;
    color: #c7c7c7;
    line-height: 80px;
  }
  div.container > div.content > div.header > h2:hover {
    color: white;
  }
  div.container > div.content > div.txt {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  div.container > div.content > div.txt > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  div.container > div.content > div.txt > ul > li {
    filter: drop-shadow(3px 3px 3px black);
  }
  div.container > div.content > div.txt > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    filter: drop-shadow(2px 2px 1px black);
    background-color: #8b8b8b91;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 10px;
  }
  div.container > div.content > div.txt > ul > li:hover > a {
    background-color: #8b8b8b;
  }
  div.container > div.content > div.ax {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-evenly;
    margin: 20px 0;
  }

  div.container > div.content > div.ax > div.yek {
    width: 45%;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 3px black;
    position: relative;
  }
  div.container > div.content > div.ax > div.yek > img {
    width: 100%;
    margin: 0;
    transition: all 300ms linear;
  }
  div.container > div.content > div.ax > div.yek > img:hover {
    opacity: 0.4;
  }
  div.container > div.content > div.ax > div.yek > span {
    color: #2e2e2e;
    position: absolute;
    bottom: 20px;
    left: 20px;
    scale: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.yek > h2 {
    font-size: 28px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.yek > p {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.yek > img:hover + span {
    position: absolute;
    color: #2e2e2e;
    bottom: 20px;
    left: 20px;
    scale: 1.8;
  }
  div.container > div.content > div.ax > div.yek > img:hover ~ h2 {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 1;
  }
  div.container > div.content > div.ax > div.yek > img:hover ~ p {
    font-size: 22px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 1;
  }

  div.container > div.content > div.ax > div.do {
    width: 45%;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 3px black;
    position: relative;
  }
  div.container > div.content > div.ax > div.do > img {
    width: 100%;
    margin: 0;
    transition: all 300ms linear;
  }
  div.container > div.content > div.ax > div.do > img:hover {
    opacity: 0.4;
  }
  div.container > div.content > div.ax > div.do > span {
    color: #2e2e2e;
    position: absolute;
    bottom: 20px;
    left: 20px;
    scale: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.do > h2 {
    font-size: 28px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.do > p {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.do > img:hover + span {
    position: absolute;
    color: #2e2e2e;
    bottom: 20px;
    left: 20px;
    scale: 1.8;
  }
  div.container > div.content > div.ax > div.do > img:hover ~ h2 {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 1;
  }
  div.container > div.content > div.ax > div.do > img:hover ~ p {
    font-size: 22px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 1;
  }

  div.container > div.content > div.ax > div.se {
    width: 45%;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 3px black;
    position: relative;
  }
  div.container > div.content > div.ax > div.se > img {
    width: 100%;
    margin: 0;
    transition: all 300ms linear;
  }
  div.container > div.content > div.ax > div.se > img:hover {
    opacity: 0.4;
  }
  div.container > div.content > div.ax > div.se > span {
    color: #2e2e2e;
    position: absolute;
    bottom: 20px;
    left: 20px;
    scale: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.se > h2 {
    font-size: 28px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.se > p {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.se > img:hover + span {
    position: absolute;
    color: #2e2e2e;
    bottom: 20px;
    left: 20px;
    scale: 1.8;
  }
  div.container > div.content > div.ax > div.se > img:hover ~ h2 {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 1;
  }
  div.container > div.content > div.ax > div.se > img:hover ~ p {
    font-size: 22px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 1;
  }
  div.container > div.content > div.ax > div.char {
    width: 45%;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 3px black;
    position: relative;
  }
  div.container > div.content > div.ax > div.char > img {
    width: 100%;
    margin: 0;
    transition: all 300ms linear;
  }
  div.container > div.content > div.ax > div.char > img:hover {
    opacity: 0.4;
  }
  div.container > div.content > div.ax > div.char > span {
    color: #2e2e2e;
    position: absolute;
    bottom: 20px;
    left: 20px;
    scale: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.char > h2 {
    font-size: 28px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.char > p {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.char > img:hover + span {
    position: absolute;
    color: #2e2e2e;
    bottom: 20px;
    left: 20px;
    scale: 1.8;
  }
  div.container > div.content > div.ax > div.char > img:hover ~ h2 {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 1;
  }
  div.container > div.content > div.ax > div.char > img:hover ~ p {
    font-size: 22px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 1;
  }
  div.container > div.content > div.ax > div.pnj {
    width: 45%;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 3px black;
    position: relative;
  }
  div.container > div.content > div.ax > div.pnj > img {
    width: 100%;
    margin: 0;
    transition: all 300ms linear;
  }
  div.container > div.content > div.ax > div.pnj > img:hover {
    opacity: 0.4;
  }
  div.container > div.content > div.ax > div.pnj > span {
    color: #2e2e2e;
    position: absolute;
    bottom: 20px;
    left: 20px;
    scale: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.pnj > h2 {
    font-size: 28px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.pnj > p {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.pnj > img:hover + span {
    position: absolute;
    color: #2e2e2e;
    bottom: 20px;
    left: 20px;
    scale: 1.8;
  }
  div.container > div.content > div.ax > div.pnj > img:hover ~ h2 {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 1;
  }
  div.container > div.content > div.ax > div.pnj > img:hover ~ p {
    font-size: 22px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 1;
  }
  div.container > div.content > div.ax > div.shish {
    width: 45%;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 3px black;
    position: relative;
  }
  div.container > div.content > div.ax > div.shish > img {
    width: 100%;
    margin: 0;
    transition: all 300ms linear;
  }
  div.container > div.content > div.ax > div.shish > img:hover {
    opacity: 0.4;
  }
  div.container > div.content > div.ax > div.shish > span {
    color: #2e2e2e;
    position: absolute;
    bottom: 20px;
    left: 20px;
    scale: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.shish > h2 {
    font-size: 28px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.shish > p {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.shish > img:hover + span {
    position: absolute;
    color: #2e2e2e;
    bottom: 20px;
    left: 20px;
    scale: 1.8;
  }
  div.container > div.content > div.ax > div.shish > img:hover ~ h2 {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 1;
  }
  div.container > div.content > div.ax > div.shish > img:hover ~ p {
    font-size: 22px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 1;
  }
  div.container > div.content > div.ax > div.hft {
    width: 45%;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 3px black;
    position: relative;
  }
  div.container > div.content > div.ax > div.hft > img {
    width: 100%;
    margin: 0;
    transition: all 300ms linear;
  }
  div.container > div.content > div.ax > div.hft > img:hover {
    opacity: 0.4;
  }
  div.container > div.content > div.ax > div.hft > span {
    color: #2e2e2e;
    position: absolute;
    bottom: 20px;
    left: 20px;
    scale: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.hft > h2 {
    font-size: 28px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.hft > p {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.hft > img:hover + span {
    position: absolute;
    color: #2e2e2e;
    bottom: 20px;
    left: 20px;
    scale: 1.8;
  }
  div.container > div.content > div.ax > div.hft > img:hover ~ h2 {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 1;
  }
  div.container > div.content > div.ax > div.hft > img:hover ~ p {
    font-size: 22px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 1;
  }
  div.container > div.content > div.ax > div.hsht {
    width: 45%;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 3px black;
    position: relative;
  }
  div.container > div.content > div.ax > div.hsht > img {
    width: 100%;
    margin: 0;
    transition: all 300ms linear;
  }
  div.container > div.content > div.ax > div.hsht > img:hover {
    opacity: 0.4;
  }
  div.container > div.content > div.ax > div.hsht > span {
    color: #2e2e2e;
    position: absolute;
    bottom: 20px;
    left: 20px;
    scale: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.hsht > h2 {
    font-size: 28px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.hsht > p {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.hsht > img:hover + span {
    position: absolute;
    color: #2e2e2e;
    bottom: 20px;
    left: 20px;
    scale: 1.8;
  }
  div.container > div.content > div.ax > div.hsht > img:hover ~ h2 {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 1;
  }
  div.container > div.content > div.ax > div.hsht > img:hover ~ p {
    font-size: 22px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 1;
  }
  div.container > div.content > div.ax > div.noh {
    width: 45%;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 3px black;
    position: relative;
  }
  div.container > div.content > div.ax > div.noh > img {
    width: 100%;
    margin: 0;
    transition: all 300ms linear;
  }
  div.container > div.content > div.ax > div.noh > img:hover {
    opacity: 0.4;
  }
  div.container > div.content > div.ax > div.noh > span {
    color: #2e2e2e;
    position: absolute;
    bottom: 20px;
    left: 20px;
    scale: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.noh > h2 {
    font-size: 28px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.noh > p {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.noh > img:hover + span {
    position: absolute;
    color: #2e2e2e;
    bottom: 20px;
    left: 20px;
    scale: 1.8;
  }
  div.container > div.content > div.ax > div.noh > img:hover ~ h2 {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 1;
  }
  div.container > div.content > div.ax > div.noh > img:hover ~ p {
    font-size: 22px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 1;
  }
  div.container > div.content > div.ax > div.dah {
    width: 45%;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 3px black;
    position: relative;
  }
  div.container > div.content > div.ax > div.dah > img {
    width: 100%;
    margin: 0;
    transition: all 300ms linear;
  }
  div.container > div.content > div.ax > div.dah > img:hover {
    opacity: 0.4;
  }
  div.container > div.content > div.ax > div.dah > span {
    color: #2e2e2e;
    position: absolute;
    bottom: 20px;
    left: 20px;
    scale: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.dah > h2 {
    font-size: 28px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.dah > p {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.dah > img:hover + span {
    position: absolute;
    color: #2e2e2e;
    bottom: 20px;
    left: 20px;
    scale: 1.8;
  }
  div.container > div.content > div.ax > div.dah > img:hover ~ h2 {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 1;
  }
  div.container > div.content > div.ax > div.dah > img:hover ~ p {
    font-size: 22px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 1;
  }
  div.container > div.content > div.ax > div.yzdh {
    width: 45%;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 3px black;
    position: relative;
  }
  div.container > div.content > div.ax > div.yzdh > img {
    width: 100%;
    margin: 0;
    transition: all 300ms linear;
  }
  div.container > div.content > div.ax > div.yzdh > img:hover {
    opacity: 0.4;
  }
  div.container > div.content > div.ax > div.yzdh > span {
    color: #2e2e2e;
    position: absolute;
    bottom: 20px;
    left: 20px;
    scale: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.yzdh > h2 {
    font-size: 28px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.yzdh > p {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.yzdh > img:hover + span {
    position: absolute;
    color: #2e2e2e;
    bottom: 20px;
    left: 20px;
    scale: 1.8;
  }
  div.container > div.content > div.ax > div.yzdh > img:hover ~ h2 {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 1;
  }
  div.container > div.content > div.ax > div.yzdh > img:hover ~ p {
    font-size: 22px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 1;
  }
  div.container > div.content > div.ax > div.dvzdh {
    width: 45%;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 3px 3px 3px black;
    position: relative;
  }
  div.container > div.content > div.ax > div.dvzdh > img {
    width: 100%;
    margin: 0;
    transition: all 300ms linear;
  }
  div.container > div.content > div.ax > div.dvzdh > img:hover {
    opacity: 0.4;
  }
  div.container > div.content > div.ax > div.dvzdh > span {
    color: #2e2e2e;
    position: absolute;
    bottom: 20px;
    left: 20px;
    scale: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.dvzdh > h2 {
    font-size: 28px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.dvzdh > p {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 0;
    filter: drop-shadow(1px 1px 1px gray);
  }
  div.container > div.content > div.ax > div.dvzdh > img:hover + span {
    position: absolute;
    color: #2e2e2e;
    bottom: 20px;
    left: 20px;
    scale: 1.8;
  }
  div.container > div.content > div.ax > div.dvzdh > img:hover ~ h2 {
    font-size: 24px;
    color: #2e2e2e;
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 1;
  }
  div.container > div.content > div.ax > div.dvzdh > img:hover ~ p {
    font-size: 22px;
    color: #2e2e2e;
    position: absolute;
    bottom: 10px;
    right: 20px;
    opacity: 1;
  }
}
